.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-family: $title-font;
        font-size: 2rem;
        text-transform: uppercase;
        border-bottom: 4px solid #525e65;
        padding-bottom: 50px;
        margin-bottom: 50px;
        width: 250px;
        text-align: center;
    }

    .project-card {
        width: 90%;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        img {
            filter: brightness(50%);
            width: 100%;
            transition: 0.3s;
        }

        span {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            text-shadow: 0 0 3px black, 0 0 5px black;
            font-family: $content-font;
            font-size: 3rem;
            text-align: center;
            transition: 0.3s;
        }

        @media (min-width: 500px) {
            width: 460px;
        }

        &:hover {
            cursor: pointer;

            img {
                filter: none;
            }

            span {
                opacity: 0;
            }
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2e3445c2;
}

.modal-content {
    margin: 0 auto;
    position: absolute;
    width: 80%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: $secondary;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;

    img {
        width: 99%;
        border: 1px solid black;
    }

    // @media (min-width: 500px) {
    //     width: 600px;
    // }
}
