.summary {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: $title-font;
        margin: 20px;
        font-size: 9vw;
        letter-spacing: 0.7rem;
        text-transform: uppercase;
    }

    h2 {
        margin: 0 20px;
        letter-spacing: 0.7rem;
        font-family: $title-font;
        font-size: 4vw;
    }

    p {
        max-width: 600px;
        margin: 40px 20px;
        line-height: 1.8rem;
        font-family: $content-font;
        font-size: 1.3rem;
    }
}