$title-font: 'Josefin Sans', sans-serif;
$content-font: 'Titillium Web', sans-serif;
$primary-font-color: rgb(219, 232, 212);
$primary: #2E3445;
$secondary: #222733;
$tertiary: #DBE8D4;
$quaternary: #525E65;